<!-- layout ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('head') %> 
</head>
<body id="<%= id %>">
  <%- include('navbar') %> 
  <div class="container-fluid">
    <div class="content">
      <div class="wrap">
        <%- body %> 
      </div>
    </div>
  </div>
  <%- include('side_menu') %> 
  <%- include('footer') %> 
  <%- script %> 
</body>
</html>