<!-- layout ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('head') %> 
</head>
<body id="<%= id %>">
  <%- include('navbar') %> 
  <div class="container">
    <div class="content">
      <%- body %> 
    </div>
  </div>
  <%- include('footer') %> 
  <%- script %> 
</body>
</html>