<section>
  <div class="wrap">
    <h2>공지사항</h2>
    <% if(session.user) { %> 
    <a class="btn btn-primary" href="/board/write">글쓰기</a>
    <% } %> 
    <table class="table table-hover" id="listTable">
      <thead>
        <tr>
          <th>No</th>
          <th>제목</th>
          <th>작성자</th>
          <th>작성일</th>
        </tr>
      </thead>
      <tbody>
        <% for(i=0; i<list.length; i++) { %> 
        <tr>
          <td><%=i+1 %></td>
          <td class="tal" id="brdNo<%=list[i].board_no %>">
            <a href="/board/view/<%=list[i].board_no %>">
              <%=list[i].board_title %>
            </a>
          </td>
          <td><%=list[i].author %></td>
          <td>
            <%= moment(list[i].created_at).format("YYYY-MM-DD")%>
          </td>
        </tr>
        <% } %> 
      </tbody>
    </table>
  </div>
</section>