<section>
  <div class="wrap">
    <h4 class="board-title"><%= row.board_title %></h4>
    <div class="board-card">
      <div class="board-content">
        <%- row.board_content %>
      </div>
      <div class="reg-date">
        작성일 : <%= moment(row.created_at).format("YYYY-MM-DD HH:mm:ss")%>
      </div>
      <p>작성자 : <%= row.author %></p>
    </div>
    <% if(session.user) { %> 
    <div class="btn-wrap row">
      <a class="btn btn-secondary" href="/board/edit/<%= row.board_no %> ">게시글 수정</a>
      <a class="btn btn-danger" id="btnDelete" href="javascript:void(0)">게시글 삭제</a>
    </div>
    <% } %> 
  </div>
</section>