<h2><%= row.board_title %></h2>
<div class="board-card">
  <label for="author">작성자</label>
  <p><%= row.author %></p>
  <label for="boardContent">내용</label>
  <div>
    <%- row.board_content %>
  </div>
  <div class="row">
    <h3 class="col">작성일 : <%= moment(row.created_at).format("YYYY-MM-DD HH:mm:ss")%></h3>
    <% if(row.updated_at != null) { %>
    <h3 class="col">수정일 : <%= moment(row.updated_at).format("YYYY-MM-DD HH:mm:ss")%></h3>
    <% } %> 
  </div>
</div>
<% if(session.user) { %> 
<div class="btn-wrap row">
  <a class="btn btn-secondary" href="/board/edit/<%= row.board_no %> ">게시글 수정</a>
  <a class="btn btn-danger" id="btnDelete" href="javascript:void(0)">게시글 삭제</a>
</div>
<% } %> 